<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/calendar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header class="topbar">
        <a class="topbar-title" asp-controller="Home" asp-action="Index">
            Medica
        </a>
    </header>
    <aside class="sidebar" id="sidebar">
        <button id="toggleSidebar" class="btn-floating-toggle">
            <i class="bi bi-chevron-left" id="toggleIcon"></i>
        </button>
        <nav class="nav-menu">
            @{
                var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
            }

            <a class="nav-item @(controller == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house"></i> <span>Início</span>
            </a>

            <a class="nav-item @(controller == "Paciente" ? "active" : "")" asp-controller="Paciente" asp-action="Index">
                <i class="bi bi-person"></i> <span>Paciente</span>
            </a>

            <a class="nav-item @(controller == "Medicamento" ? "active" : "")" asp-controller="Medicamento" asp-action="Index">
                <i class="bi bi-clipboard-pulse"></i> <span>Medicamento</span>
            </a>

            <a class="nav-item @(controller == "Planejamento" ? "active" : "")" href="#">
                <i class="bi bi-calendar3"></i> <span>Planejamento</span>
            </a>

            <span class="nav-label"></span>
            <a class="nav-item" href="#"><i class="bi bi-bell"></i> <span>Notificações</span></a>
            <a class="nav-item" href="#"><i class="bi bi-gear"></i> <span>Configuração</span></a>
        </nav>
        <footer class="sidebar-footer">
            <div class="theme-switch">
                <button id="lightBtn" onclick="setTheme('light')"><i class="bi bi-sun"></i> Light</button>
                <button id="darkBtn" onclick="setTheme('dark')"><i class="bi bi-moon"></i> Dark</button>
            </div>
        </footer>
    </aside>
    <main class="main-wrapper">
        <div class="content-container">
            @RenderBody()
        </div>
        <footer class="content-footer">
            &copy; 2026 - MedicaWeb - <a asp-action="Privacy">Privacidade</a>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home/home.js" asp-append-version="true"></script>
    <script src="~/js/home/calendar.js" asp-append-version="true"></script>
    <script src="~/js/form/form.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>